$_azulclaro:rgb(64, 40, 250);
$_blancofull:#faf6f6;
$_negrofull:#080808;
$_violetafull:#8508ae;
$_verdeclaro:rgb(5, 90, 25);
$_rojo-opaco:rgb(249, 52, 45);





$primario:$_azulclaro;
$secundario:$_negrofull;
$success:$_verdeclaro;
