/* index estructura*/
.grid1{
    display: grid;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 30% 30% 30%;
  }
  /*Nosotros*/
  .titulo{
    grid-template-columns: 100%;
  }
  .ordenNs{
    grid-template-columns: 100%;
  }
