@media screen and (max-width: 769px) {
    .contAms,.contBms{
        width: 95%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 100%;
        justify-items: center;
    }

    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
    .card {
      height: 285px;
    }
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  }
  .ftp {
    width:20%;
    height: 20%;
}
  @media screen and (max-width: 480px) {
    .cardBox {
      width: 94.5%;
    }
    .card {
      height: 260px;
    }
  }

