img{
    width: 100%;
    object-fit: contain;
}

.logo{
    align-content: center;  
    justify-content: center;
    .imgChica{
    width:280px;
    height:180px;
    }
}
.nav_img{
    width: 40px;
    height: 40px;
}
.fotolc{
    align-self: center;  
    justify-self: center;
}
.imglc{
    width:400px;
    height:180px;
}

.ftp{
    width: 120px;
    height: 120px;
    padding: 10px;
}
.redes_ftp{
    width: 75px;
    height: 75px;
}
/*nosotros*/
.img-uno{background-image: url("/multi/fondos/fondoMn.png");}

.img-dos{background-image:url("/multi/fondos/fondoMn.png");}

.img-tres{background-image:url("/multi/fondos/fondoMn.png");}
/*productos*/