img{
    width: 100%;
    object-fit: contain;
}
.img-cero{background-image: url("../multi/accs.png");}


/*nosotros*/
.img-uno{background-image: url("../multi/fondos/fondoMn.png");}

.img-dos{background-image:url("../multi/fondos/fondoMn.png");}

.img-tres{background-image:url("../multi/fondos/fondoMn.png");}
/*productos*/
