img{
    width: 100%;
    object-fit: contain;
}
/*index*/
.img-cero_cero{background-image: url("../multi/herramientas/curso.png");}

.img-cero{background-image: url("../multi/accs.png");}


/*nosotros*/
.img-uno{background-image: url("../multi/fondos/fondoMn.png");}

.img-dos{background-image:url("../multi/fondos/fondoMn.png");}

.img-tres{background-image:url("../multi/fondos/fondoMn.png");}
/*productos*/
.img-seis{background-image:url("../multi/productosft/protectores.png");}
.img-siete{background-image:url("../multi/productosft/cargadores.png");}
.img-ocho{background-image:url("../multi/productosft/sillaG.png");}
/*Cursos*/
.img-cinco{background-image: url("../multi/productosft/modulosrts.png");}


