p{
    font-family:rubik;
    font-size: 25px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    text-align: justify;
    border:10px;
    margin:10px;
    padding:10px;
}
/*index parrafo*/
.textoSM1{
	@include parrafos-importantes;
}
/*nosotros*/
.prr1{
	font-size: 12px;
	margin:0 0 24px 0;
}
.texto-interior{
	font-size: 20px;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}
.texto{
	@include parrafos-importantes;
	padding:5%;
	width: 90%;
}