
#tablaef {
    font-family: Rubik, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tablaef td, #tablaef th {
    border: 1px solid rgb(7, 2, 75);
    padding: 8px;
  }
  
  #tablaef tr:nth-child(even){background-color: #a0e1f4;}
  
  #tablaef tr:hover {background-color: rgb(221, 207, 207);}
  
  #tablaef th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0b4bdf;
    color: white;
  }