.tablaDestacado{
    font-family: Rubik, sans-serif;
	font-size: 15px;
    text-align: center;
    color: rgb(27, 5, 149);
    padding: 20px;
    margin:20px;    
    width: auto;
    object-fit: contain;
}